body{
    margin: 0 20px;
}
#header{
    background-color: white;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 1300px;
    height: 100px;
    /* border: 2px solid yellow; */
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: red;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
#menu{
    /* border: 2px solid red; */
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.info{
    background-color: rgb(1, 1, 65);
    border-radius: 5px;
    width: 120px;
    height: 35px;
    margin: 30px 0 0 5px;
    text-align: center;
    padding-top: 10px;
}
a{
    text-align: center;
    text-decoration: none;
    color: white;
}
section{
    font-size: 20px;
    text-align: center;
}
#table{
    margin-left: auto;
    margin-right: auto;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
th,td{
    width: 150px;
    height: 20px;
    text-align: start;
}
th{
    background-color: rgb(168, 91, 3);
    color: white;
}
#footer{
    background-color: rgb(1, 1, 41);
    width: auto;
    height: 100px;
    color: white;
    padding-top: 10px;
    margin-top: 50px;
    text-align: center;
}